<!DOCTYPE html>
<html lang="en" data-bs-theme="light" data-layout="fixed-header">
    <head>
        <!-- meta title -->
       <%- include('./partials/title-meta') %>
        <!-- head-css -->
       <%- include('./partials/head-css') %>

    </head>    
    <body>

        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <%- include('./partials/left-sidebar') %>
            <!-- navbar -->
            <%- include('./partials/navbar') %>
            <!-- Page Content -->
            <div class="page-content">
                <div class="page-inner">
                    <%- include('./partials/component/pageHeader') %>
                    <div class="container-fluid" id="main-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card border mb-0">
                                    <div class="card-body">
        
                                        <h4 class="mt-0 header-title border-bottom">Panel</h4>
                                        <p class="text-muted mb-24 fs-15">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient monte.</p>

                                        <div>
                                            <p>Type Text</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main Wrapper -->
                </div>
                <!-- footer -->
                <%- include('./partials/footer') %>
                <!-- right sidebar -->
                <%- include('./partials/right-sidebar') %>
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <%- include('./partials/vendor-scripts') %>
    </body>
</html>